.account-box {
  max-width: 400px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.account-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.switch-text span {
  color: #000;
  cursor: pointer;
  font-weight: 600;
  margin-right: 5px;
}
