/* ===============================
   Brew Section
=============================== */
 

.brew-section {
  padding: 4rem 2rem;
  background-color: var(--section-bg);
}

/* ===============================
   Title
=============================== */

.brew-section .section-title {
   margin-bottom: 48px;
}

/* ===============================
   Brew Item
=============================== */

.brew-card {
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
   text-align: center;
  flex: 1 1 200px; /* يسمح للبطاقات بالتمدد في الشاشات الكبيرة */
  max-width: 300px;
 
}

 

.brew-cards-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap; /* يسمح بالانتقال للصفوف عند الشاشات الصغيرة */
}

.brew-card:hover {
  transform: translateY(-4px);
}

/* ===============================
   Icon Circle
=============================== */

.brew-icon {
  width: 72px;
  height: 72px;
  margin: 0 auto 18px;

  background: linear-gradient(
    135deg,
    #ede2d6,
    #f7f3ef
  );

  color: var(--coffee-brown-light);

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 8px 20px rgba(62, 39, 35, 0.12);
  transition: all 0.3s ease;
}

/* أيقونة hover */
.brew-card:hover .brew-icon {
  background: linear-gradient(
    135deg,
    var(--coffee-brown-light),
    var(--coffee-brown-dark)
  );
  color: #fff;
  transform: scale(1.05);
}
  

/* =====================
   Responsive
===================== */
@media (max-width: 992px) {
  .brew-cards-container {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .brew-cards-container {
    flex-direction: column;
    align-items: center;
  }
  .brew-card {
    max-width: 90%;
    margin-bottom: 1.5rem;
  }
}
